
#title {
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		position: relative;
		left: 5%;
		color:#00cc00;
		width: 400px;
		border-bottom: 2px solid red;
		}
.subtitlecv {
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		font-size: 20px;
		text-align: center;
		position: relative;
		}
p{ 		font-family: "Georgia", Times, serif;
		text-align: left
		}
h2 		{color:red;
		}
h3 		{color:black;

		}
body 	{
			background-color:white; 
		}


#back_1 {
	width:150px; 
	height: auto; 
	top:515px; 
	position: absolute; 
	left: 50px;
}
#back_2 {
	width:200px; 
	height: auto; 
	bottom:15px; 
	position: absolute; 
	left: 15px;
	size: 20%;
}

#pcdescdiv {
	position: absolute;
	left: 250px;
	top: 100px;
	width: 600px;
	height: 500px;
	background-color:white;

	opacity: 0.85;
}
.specsdes {
	width: 600px;
	height: 270px;
	left: 50%;

}

.specs {
	text-align: justify;
	font-size: 12px;
}
.bodydiv {
	width: 900px;
	height: 600px;
	position: absolute;
}

#bid_smart {
	width: 100px;
	height: auto;
}

.current_bid_text {
	padding: 10px;

}
 
#bodydivtop {
	height: 600px;
}
#bid_section {
	width: 200px;
	height: auto;
	

}
#pcdesctext {
	width: 480px;
}

.bodydiv_reg {
	width: 900px;
	height: 600px;
	top: 100px;
	position: absolute;
	left: 40px;
}

.register {
	width: 400px; 
	float:right; 
	padding: 30px;
	background-color:white;
	border-color: #00e6ac;
	border-style: inset;
	right: 30px;
}

.log_in {
	width: 400px; 
	float:left; 
	padding: 30px;
	background-color:white;
	left: 30px;
}

#menu {
	position: absolute;
	top: 22px;
	left: 22px;
	font-size: 24px;
}

#topmenu {
	width: 100%;
	text-align: center;
	height: 150px;
	top: 10px;
}

#audiction {
	position:absolute; 
	left: 80px; 
	font-size: 40px;
	top:8px;
	border-color: black;
	border-style: double;


}

.fieldform {
	border-color: grey;
	border-style: solid;
	border-width:	2px;
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profile {
	width: 500px;
	height: 370px;
	padding: 30px;
	background-color:white;
	position: absolute;
	top: 100px;
	left: 250px;
}

.fieldprofiledata {
	border-color: grey;
	border-style: solid;
	border-width:	2px;
	
	
}



#logged_box {
	position: absolute;
	background-color: white;
	width: 210px;
	height: 120px;
	top: 400px;
	left: 20px;
	background-color:white;
	opacity: 0.85;
	border-color: grey;
	border-style: solid;
	padding: 5px;
	text-align: center;
	font-size: 15px;
}

.terms_body {
	width: 800px;
	height: 830px;
	top: 80px;
	position: absolute;
	left: 40px;
	background-color:white;
	padding: 10px;

}

#bid_image {
	position: absolute;
	left: 275px;
	top: 4px;

}

#logout_in_button {
	position: absolute;
	left: 90px;
	top: 20px;
	font-size: 12px;
}

#jsdisable {
	top:10px; 
	left: 400px; 
	border-style: solid;
	border-color: red;
	padding: 2px; 
	position: absolute; 
	height: 60px; 
	width: 200px; 
}

#title_audiction {
	height: 100px;
	width: 400px;
	position: absolute;
	left: 250px;
}

.warning {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff9800;
}
.warning:hover {background: #e68a00;}

#edit {
	width: 200px;
	height: 50px;
	right: 15px;
	top: 300px;
	position: absolute;
	font-size: 5px;
}

a, u {
    text-decoration: none;
}

